<template>
    <div class="page" data-name="create-task">
        <div class="navbar">
            <div class="navbar-inner sliding">
              <div class="left">
                <a href="#" class="link back">
                  <i class="icon icon-back"></i>
                  <span class="if-not-md">Back</span>
                </a>
              </div>
              <div class="title">Edit Task</div>
            </div>
        </div>

        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="block">
                <form action="http://localhost/FrameWork7/toDoApp/CI/Api/Task/update/{{id}}" method="POST" enctype="multipart/form-data" class="form-ajax-submit">
                    <div class="list no-hairlines-md">
                        <div class="item-content item-input item-input-outline no-padding-left">
                            <div class="item-inner no-padding-right">
                                <div class="item-title item-floating-label">Task Name</div>
                                <div class="item-input-wrap">
                                    <input type="text" name="task_name" id="task_name" placeholder="Job name" required validate>
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </div>

                        <div class="item-content item-input item-input-outline no-padding-left">
                            <div class="item-inner no-padding-right">
                                <div class="item-title item-floating-label">Date</div>
                                <div class="item-input-wrap">
                                    <input type="date" name="date" id="date" placeholder="" required validate>
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </div>

                        <div class="item-content item-input item-input-outline no-padding-left">
                            <div class="item-inner no-padding-right">
                                <div class="item-title item-floating-label">Start Time</div>
                                <div class="item-input-wrap">
                                    <input type="time" name="start_time" id="start_time" placeholder="Start Time" required validate>
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </div>

                        <div class="item-content item-input item-input-outline no-padding-left">
                            <div class="item-inner no-padding-right">
                                <div class="item-title item-floating-label">End Time</div>
                                <div class="item-input-wrap">
                                    <input type="time" name="end_time" id="end_time" placeholder="End Time" required validate>
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </div>

                        <div class="item-content item-input item-input-outline no-padding-left">
                            <div class="item-inner no-padding-right">
                                <div class="item-title item-floating-label">Status</div>
                                <div class="item-input-wrap">
                                    <select name="status" id="status" placeholder="Status" required validate>
                                        <option value="" selected></option>
                                        <option value="Pending">Pending</option>
                                        <option value="Proccesing">Proccesing</option>
                                        <option value="Completed">Completed</option>
                                    </select>
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </div>

                        <div>
                            <button type="submit" class="button button-outline button-md" style="margin-top: 20px;">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
  return {
    data: function () {
      return {}
    },
    methods: {
      openAlert: function () {
        var self = this.$app.dialog.alert('Hello world!');
      },
    },
    on: {
      pageInit: function (e, page) {
        var id = page.route.params.id;
        var self = this;
        app.request.get('http://localhost/FrameWork7/toDoApp/CI/Api/Task/edit/'+id, function (data) {
            var res = JSON.parse(data);
            self.$setState(res);
            var formData = {
                'task_name': res.task_name,
                'date': res.date,
                'start_time': res.start_time,
                'end_time': res.end_time,
                'status': res.status,
            }
            app.form.fillFromData('.form-ajax-submit', formData);            
        });
      },
      pageAfterOut: function () {
        // page has left the view
      },
    }
  }
</script>