<template>
    <div class="page" data-name="task">
        <div class="navbar">
            <div class="navbar-inner sliding">
              <div class="left">
                <a href="#" class="link back">
                  <i class="icon icon-back"></i>
                  <span class="if-not-md">Back</span>
                </a>
              </div>
              <div class="title">Tasks</div>
            </div>
        </div>

        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="row">
                <div class="col-60">
                    <div class="title-large-text margin-top">All Tasks</div>
                </div>

                <div class="col-40 text-align-right">
                    <a href="/task/create/" class="button button-round button-outline button-md" style="margin: 20px 15px 0px 0px;">New Task</a>
                </div>
            </div>

            <!-- Table -->
            <div class="data-table card">
                <table>
                    <thead>
                        <tr>
                            <th align="left">Sl</th>
                            <th align="left">Job Name</th>
                            <th align="center">Date</th>
                            <th align="center">Start Time</th>
                            <th align="center">End Time</th>
                            <th align="center">Status</th>
                            <th align="right">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each task}}
                            <tr>
                                <td align="left">{{@index+1}}</td>
                                <td align="left">{{task_name}}</td>
                                <td align="center">{{date}}</td>
                                <td align="center">{{start_time}}</td>
                                <td align="center">{{end_time}}</td>
                                <td align="center">{{status}}</td>
                                <td align="right">
                                    <a href="/task/edit/{{id}}/" class="button button-outline color-green" style="display: inline-block; margin: 5px;">
                                        <i class="f7-icons" style="font-size: 20px;">compose</i>
                                    </a>
                                    <a href="javascript:;" @click="deleteConfirm({{id}});" class="button button-outline color-red" style="display: inline-block; margin: 5px;"><i class="f7-icons" style="font-size: 20px;">trash</i></a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
  return {
    data: function () {
      return {task: null}
    },
    methods: {
      openAlert: function () {
        var self = this.$app.dialog.alert('Hello world!');
      },
      deleteConfirm: function(id) {
        // Delete Confirm
          app.dialog.confirm('Are You Sure?', '<i class="f7-icons text-color-red">trash</i>', function () {
            // app.dialog.alert('Great!');
            destroy('http://localhost/FrameWork7/toDoApp/CI/Api/Task/destroy/'+id);
          });
      }
    },
    on: {
      pageInit: function (e, page) {
        // console.log(page.route.params.id);
        var self = this;
        app.request.get('http://localhost/FrameWork7/toDoApp/CI/Api/Task/index', function (data) {
            self.$setState({
                task: JSON.parse(data),
            });
        });

      },
      pageAfterOut: function () {
        // page has left the view
      },
    }
  }
</script>