<template>
    <div class="page" data-name="create-task">
        <div class="navbar">
            <div class="navbar-inner sliding">
              <div class="left">
                <a href="#" class="link back">
                  <i class="icon icon-back"></i>
                  <span class="if-not-md">Back</span>
                </a>
              </div>
              <div class="title">Add Task</div>
            </div>
        </div>

        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="block">
                <form action="http://localhost/FrameWork7/toDoApp/CI/Api/Task/store" method="POST" enctype="multipart/form-data" class="form-ajax-submit">
                    <div class="list no-hairlines-md">
                        <div class="item-content item-input item-input-outline no-padding-left">
                            <div class="item-inner no-padding-right">
                                <div class="item-title item-floating-label">Task Name</div>
                                <div class="item-input-wrap">
                                    <input type="text" name="task_name" placeholder="Job name" required validate>
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </div>

                        <div class="item-content item-input item-input-outline no-padding-left">
                            <div class="item-inner no-padding-right">
                                <div class="item-title item-floating-label">Date</div>
                                <div class="item-input-wrap">
                                    <input type="date" name="date" placeholder="" required validate>
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </div>

                        <div class="item-content item-input item-input-outline no-padding-left">
                            <div class="item-inner no-padding-right">
                                <div class="item-title item-floating-label">Start Time</div>
                                <div class="item-input-wrap">
                                    <input type="time" name="start_time" placeholder="Start Time" required validate>
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </div>

                        <div class="item-content item-input item-input-outline no-padding-left">
                            <div class="item-inner no-padding-right">
                                <div class="item-title item-floating-label">End Time</div>
                                <div class="item-input-wrap">
                                    <input type="time" name="end_time" placeholder="End Time" required validate>
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </div>

                        <div class="item-content item-input item-input-outline no-padding-left">
                            <div class="item-inner no-padding-right">
                                <div class="item-title item-floating-label">Status</div>
                                <div class="item-input-wrap">
                                    <select name="status" placeholder="Status" required validate>
                                        <option value="" selected></option>
                                        <option value="Pending">Pending</option>
                                        <option value="Proccesing">Proccesing</option>
                                        <option value="Completed">Completed</option>
                                    </select>
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </div>

                        <div>
                            <button type="submit" class="button button-outline button-md" style="margin-top: 20px;">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>